<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= property.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= property.zipcode %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

    <p>
    <strong>Photo:</strong>
    <%= image_tag 'http://localhost:3000/uploads/property/photo/1/benjamin-child-GWe0dlVD9e0-unsplash.jpg'%>
  </p>

</div>
